.layout-notification
  .chat
    = render partial: "./commons/chat-side", locals: {groups: @groups}
    .chat-main
      %div.chat-header
        %div.chat-header--left
          %h2 テスト
          %p.chat-header__users
            Members:
            %span.chat-header__user NaokiKumagai
        %div.chat-header--right
          =link_to "Edit", edit_group_path(@group), class: "chat-header__edit-btn"
      %div.chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__name NaokiKumagai
              %p.chat-message__time 2016/11/05
            %p.chat-message__body テスト
      %div.chat-footer
        %form.new_message
