.notice {
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	background-color: #38aef0;
}
.alert {
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	background-color: #d65f4c;
}
